*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 18px;
    background-color: hsl(185, 75%, 39%);
}

body{
    background-color: hsl(185, 75%, 39%);
    position: relative;
    overflow: hidden;
}

/* main{
    
    height: 100%;
} */

.top {
    position: absolute;
    top: -170px;
    left: -100px;
    width: 400px;
}

.bottom {
    position: absolute;
    width: 400px;
    right: -80px;
    bottom: -550px;
}